@model LexiconUniversity.Models.Course

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Course</h4>
    <hr />
    <div class="row">
        <div class="col-sm-4">
            <dl class="dl-horizontal">
                <dt> @Html.DisplayNameFor(course => course.CourseId) </dt>
                <dd> @Html.DisplayFor(model => model.CourseId) </dd>

                <dt> @Html.DisplayNameFor(course => course.Name) </dt>
                <dd> @Html.DisplayFor(model => model.Name) </dd>

                <dt> @Html.DisplayNameFor(model => model.Credits) </dt>
                <dd> @Html.DisplayFor(model => model.Credits) </dd>
            </dl>
        </div>
        <div class="col-sm-8">
            <dl class="dl-horizontal">
                <dt> @Html.DisplayNameFor(model => model.Enrollments)</dt>
                <dd>
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>Student</th>
                                <th>Grade</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var enrollment in Model.Enrollments)
                            {
                                <tr>
                                    <td>@Html.ActionLink(enrollment.Student.FullName, "Details", "Students", new { id = enrollment.StudentId }, null) </td>
                                    <td>@Html.DisplayFor(course => enrollment.Grade) </td>
                                    <td>
                                        <button class="delete-enrollment" data-id="@enrollment.Id">delete</button>
                                        @Html.ActionLink("delete", "Delete", "Enrollments", routeValues: new { enrollment.Id }, htmlAttributes: null)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </dd>
                <dd>@Html.ActionLink("Add student", "Create", "Enrollments", new { Model.CourseId }, null)</dd>
            </dl>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CourseId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
@section scripts {
    <script>
        $('button.delete-enrollment').on('click', e => {
            let id = e.target.dataset.id;
            console.log("deleting " + id);
            $.ajax({
                url: "/Enrollments/Delete/" + id,
                method: "POST"
            }).done(() => {
                console.log("deleted " + id);
                location.reload();
            }).fail((xhr, status, error) => {
                console.log("failed:", error);
            })
        })
    </script>
}

