@model LexiconUniversity.Models.Course

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>            @Html.DisplayNameFor(course => course.Name)        </dt>
        <dd>            @Html.DisplayFor(model => model.Name)        </dd>

        <dt>            @Html.DisplayNameFor(model => model.Credits)        </dt>
        <dd>            @Html.DisplayFor(model => model.Credits)        </dd>

        <dt>            @Html.DisplayNameFor(model => model.Enrollments)        </dt>
        <dd>
            <table border="1">
                <tr>
                    <th>Student</th>
                    <th>Grade</th>
                    <th></th>
                </tr>
                @foreach (var enrollment in Model.Enrollments)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(course => enrollment.Student.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(course => enrollment.Grade)
                    </td>
                    <td>
                        @Html.ActionLink(enrollment.Student.FullName, "Details", "Students", new { id = enrollment.StudentId }, null)
                    </td>
                </tr>                   
                }
            </table>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CourseId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
